<!DOCTYPE html>
<html lang="<%= meta.lang %>">
<head>
  <%- include ('./includes/head.include.ejs') %>
</head>
<body>
  <div class="wrapper">
    <%- include ('./includes/header.include.ejs') %>
    <div class="wrapper-main">
      <div class="error">
        <div class="error-message">
          <h3><%= code %></h3>
          <h4><%= message %></h4>
        </div>
        <table class="error-table">
          <caption class="error-table__caption">Gegevens van verzoek</caption>
          <tbody>
            <tr>
              <th>Uw IP: </th>
              <td><%= info.ip %></td>
            </tr>
            <tr>
              <th>Pad: </th>
              <td><%= info.path %></td>
            </tr>
            <tr>
              <th>Hostnaam: </th>
              <td><%= info.hostname %></td>
            </tr>
            <tr>
              <th>Tijd: </th>
              <td><%= info.timestamp %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr />
      <p class="wrapper-main__text">
        Mocht deze fout voort blijven zetten, neem dan contact op met onze webmaster
        <a href="mailto:webmaster@fannst.nl">webmaster@fannst.nl</a>
      </p>
    </div>
    <%- include ('./includes/footer.include.ejs') %>
  </div>
</body>
</html>